:root {
    --main-color: rgb(23,143,210);
    --background-color: rgb(233, 243, 253);
}

*, ::after, ::before {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.sidebar {
    background-color: var(--main-color);
    height: 100vh;
    padding: 25px 10px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.sidebar > ul {
    list-style: none;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(2em, 1fr));
    gap: 10px;
}

ul.icons {
    justify-items: center;
}

ul.text > li {
    padding-left: 5px;
    font-weight: bold;
}

li * {
    font-size: 1.2rem;  
}

li.main *{
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: white;
}

/* header */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 25px 60px;
    gap: 15px;
    box-shadow: 0 1px 10px rgb(156, 185, 200);
    z-index: 1;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-height: 30px;
    gap: 20px;
}

.searchbar {
    display: flex;
}

.searchbar .search-img {
    margin-right: 10px;
}

.searchbar .search {
    flex: 1;
    height: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.user-name {
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.welcome {
    display: flex;
    gap: 15px;
    align-items: center;
}

.welcome-username {
    font-weight: bold;
    font-size: 1.2rem;
}

.user-avatar.big {
    width: 45px;
    height: 45px;
    border-radius: 22px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.buttons > button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
    line-height: 0px;
    font-weight: bold;
}

/* main-content */

main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.main-content {
    background-color: var(--background-color);
    
}